<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>
<body class="home_page">
	<header class="banner" >
		<div class="container">
			<div class="column">
				<a class="logo" href="https://checkr.com/">Checkr</a>
				<nav class="primary-nav">
					<ul id="menu-primary-navigaton" class="primary-nav">
						<li class= "dropdown menu_product">PRODUCT</li>
						<li class= "dropdown menu_product">PRODUCT</li>
						<li class= "dropdown menu_product">PRODUCT</li>
					</ul>				
				</nav>
				<nav class="top-nav">
				    <ul id="menu-top-menu" class="top-menu"><li class="menu-i-am-an-applicant"><a class="" href="https://applicant.checkr.com/">I Am an Applicant</a></li>
                    <li class="menu-api-docs"><a class="" href="https://docs.checkr.com/">API &amp; Docs</a></li>
                    <li class="menu-about-us"><a class="" href="https://checkr.com/about/">About Us</a></li>
                    <li class="menu-careers"><a class="" href="https://checkr.com/careers/">Careers</a></li>
                    </ul>
				</nav>

				<nav class="right-nav" role="navigation">
				<ul id="right-menu" class="">
					<li class="menu-log-in"><a target="_blank" href="https://dashboard.checkr.com/login?next=%2Freports">Log In</a></li>
					<li class="menu-get-started"><a href="/get-started">Get Started ➜</a></li>
				</ul>
			</nav>
			</div>
		</div>
	</header>

    <div id="main">
    <main class="main" role="main" data-theclass="home-page">
					<article>
				<section id="home-hero" class="layout-hero default-breathing" style="background-color:#263d52;">
	<div class="hero hero-medium"  style="background-image: url(https://checkr.com/wp-content/uploads/2015/10/checkr_header_industries-1.jpg;);">
	<div class="container bleed">
		<div class="column six">
			<div class="content kitchensink">
				<h1>Hire great people. Faster.</h1>
                      <p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>
                      <p><a class="button yellow with-arrow" href="http://checkr.com/product/">EXPLORE NOW ➜</a></p>
			</div>
		</div>
	</div>
</div>

</section>
</article>
</main>
</div>


</body>
</html>
